    <header>
        <h1><a href="/">House BB</a></h1>
        <a href="/login">
            <button>Log In</button>
        </a>
       <a href="/post">
            <button>Create post</button>
       </a> 
       
    </header>