<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts Lesson 7</title>
    <link rel="stylesheet" href="../../public/styles.css">
    <script async src="../../public/scripts.js" defer></script>
</head>